body{
    margin: 0;
    background-color: #c2b895;
    
}
.formulario button {
    background-color: #a0667a;;
    color: azure;
    font-size: 16px;
    padding: 10px;
  }
.formulario{
    margin-top: 80px;
    text-align: center;

    margin-bottom: 100px;
}
.respuesta {
    background-color: rgb(195, 208, 152);
    color: black;
    padding: 16px;
    text-align: center;
    font-size: 20px;
    margin: 5px;
  }
.formulario input[type="text"]{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #c4cab0;
}
.formulario input[type="email"]{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #c4cab0;
}
.formulario input[type="password"]{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #c4cab0;
}
.formulario input[type="submit"]{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #c7dcca;
}
.formulario label{
    font-size: 20px;
}
.formulario h1{
    background-color: #a0667a;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0;
    color: white;
}
.titulos{
    color: black;
}




.menu{
    background-color: #7f135f;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu .navbar ul li{
      position: relative;
      float: right;
      list-style: none;
      font-style: none;
  }
  .menu .navbar ul li a{
      font-size: 20px;
      padding: 20px;
      color: #DEDEDE;
      display: block;
      font-weight: bold;
      float: right;
      text-decoration: none;
      
  }
  .menu .navbar ul li a:hover{
      color:white;
  }
  #menu{
      display: none;
  }
  .menu-icono{
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .menu label{
      cursor: pointer;
      display: none;
  }
  @media(max-width: 991px){
    .content{
        min-height: 70px;
    }
    .menu{
        top: 0;
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #7f135f;
        display: none;
        width: 100%;
        margin-bottom: 10px;
    }
    .menu .navbar .ul .li{
        width: 30%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .formulario{
        margin-top: 450px;
    }
}
.grid-container3{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: auto;
    margin: 10px 150px 50px;
    column-gap: 20px;
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
.subsubitem2{
  grid-column-start:2 ;
  grid-column-end: 4;
}

.subsubitem2 a{
text-decoration: none;
color: rgb(1, 153, 42);
}
footer{
background-color: #c7dcca;
margin-bottom: 0;
}